<div class="page-container">
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      placeholder="Search for users and groups..."
      [(ngModel)]="searchTerm"
      (input)="onSearchInput()"
      (keyup.enter)="onSearchInput()"
    />
    <div class="search-results" *ngIf="searchResults.length > 0">
      <div
        *ngFor="let result of searchResults"
        class="search-result-item"
        (click)="selectResult(result)"
      >
        <a *ngIf="result.userPrincipalName; else groupLink" [routerLink]="['/user', result.id]">
          {{ result.displayName }} ({{ result.userPrincipalName }})
        </a>
        <ng-template #groupLink>
          <a [routerLink]="['/group', result.id]">
            {{ result.displayName }} ({{ result.mail }})
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>